<div class="sidebar">
    <p>
        <span>
            <button class="btn btn-light btn-round btn-icon btn-shadow"
                id="navbarDropdownAccount" role="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="material-icons">store</i>
            </button>
        </span>
        <span class="sidebar_label">
            Something
        </span>
    </p>
    <div class="dropdown-menu dropdown-menu-right dropdown-shadow"
        aria-labelledby="navbarDropdownAccount">
        <p class="dropdown-item">Alexander Kleinhans</p>
        <p class="dropdown-item"><small>Administrator</small></p>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Sign out</a>
    </div>
</div>
