<style>
a.nav-link {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
</style>
<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
</a>

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Home</span></a>
</li>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>
        View Site
        </span>
    </a>
</li>

<!-- Heading -->
<div class="sidebar-heading">
    Social Media
</div>

<!-- Heading -->
<div class="sidebar-heading">
    Storefront
</div>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" 
        data-toggle="collapse"
        data-target="#collapseCustomers" aria-expanded="true"
        aria-controls="collapseCustomers">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Customers</span>
    </a>
    <div id="collapseCustomers" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/customers">Overview</a>
            <a class="collapse-item" href="/customers/subscribers">Subscribers</a>
            <a class="collapse-item" href="/customers/loyalty-members">Loyalty Members</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" 
        data-toggle="collapse"
        data-target="#collapseSocialMedia" aria-expanded="true"
        aria-controls="collapseSocialMedia">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Social Media</span>
    </a>
    <div id="collapseSocialMedia" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/social-media">Overview</a>
            <a class="collapse-item" href="/social-media/facebook">Facebook</a>
            <a class="collapse-item" href="/social-media/instagram">Instagram</a>
            <a class="collapse-item" href="/social-media/twitter">Twitter</a>
            <a class="collapse-item" href="/social-media/linkedin">LinkedIn</a>
            <a class="collapse-item" href="/social-media/google">Google</a>
            <a class="collapse-item" href="/social-media/yelp">Yelp</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" 
        data-toggle="collapse"
        data-target="#collapseSales" aria-expanded="true"
        aria-controls="collapseSales">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Sales</span>
    </a>
    <div id="collapseSales" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/sales">Overview</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" 
        data-toggle="collapse"
        data-target="#collapseStorefront" aria-expanded="true"
        aria-controls="collapseStorefront">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Storefront</span>
    </a>
    <div id="collapseStorefront" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/storefront">Overview</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" 
        data-toggle="collapse"
        data-target="#collapseInventory" aria-expanded="true"
        aria-controls="collapseInventory">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Inventory</span>
    </a>
    <div id="collapseInventory" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/inventory">Inventory</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" 
        data-toggle="collapse"
        data-target="#collapseOperations" aria-expanded="true"
        aria-controls="collapseOperations">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Operations</span>
    </a>
    <div id="collapseOperations" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/operations">Operations</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" 
        data-toggle="collapse"
        data-target="#collapseAnalytics" aria-expanded="true"
        aria-controls="collapseAnalytics">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Analytics</span>
    </a>
    <div id="collapseAnalytics" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/analytics">Analytics</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" 
        data-toggle="collapse"
        data-target="#collapseIntegrations" aria-expanded="true"
        aria-controls="collapseIntegrations">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Integrations</span>
    </a>
    <div id="collapseIntegrations" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/integrations">Integrations</a>
        </div>
    </div>
</li>

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
