<div class="sidebar">
    <p>
        <span>
            <button class="btn btn-light btn-round btn-icon btn-shadow"
                id="navbarDropdownAccount" role="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="material-icons">store</i>
            </button>
        </span>
        <span class="sidebar_label_main">
            Something
        </span>
    </p>
    <br>
    <a href="/" class="sidebar-item">
        <p class="sidebar-item">
            <span>
                <i class="fas fa-columns sidebar-icon small-icon"></i>
            </span>
            <span class="sidebar_label">
                <small>Home</small>
            </span>
        </p>
    </a>
    <p class="sidebar-item">
        <span>
            <i class="fas fa-columns sidebar-icon small-icon"></i>
        </span>
        <span class="sidebar_label">
            <small>View Site</small>
        </span>
    </p>
    <br>
    <a href="/customers" class="sidebar-item">
        <p class="sidebar-item">
            <span>
                <i class="fas fa-columns sidebar-icon small-icon"></i>
            </span>
            <span class="sidebar_label">
                <small>Customers</small>
            </span>
        </p>
    </a>
    <p class="sidebar-item">
        <span>
            <i class="fas fa-columns sidebar-icon small-icon"></i>
        </span>
        <span class="sidebar_label">
            <small>Social Media</small>
        </span>
    </p>
    <p class="sidebar-item">
        <span>
            <i class="fas fa-columns sidebar-icon small-icon"></i>
        </span>
        <span class="sidebar_label">
            <small>Sales</small>
        </span>
    </p>
    <p class="sidebar-item">
        <span>
            <i class="fas fa-columns sidebar-icon small-icon"></i>
        </span>
        <span class="sidebar_label">
            <small>Storefront</small>
        </span>
    </p>
    <p class="sidebar-item">
        <span>
            <i class="fas fa-columns sidebar-icon small-icon"></i>
        </span>
        <span class="sidebar_label">
            <small>Inventory</small>
        </span>
    </p>
    <p class="sidebar-item">
        <span>
            <i class="fas fa-columns sidebar-icon small-icon"></i>
        </span>
        <span class="sidebar_label">
            <small>Website</small>
        </span>
    </p>
    <br>
    <p class="sidebar-item">
        <span>
            <i class="fas fa-columns sidebar-icon small-icon"></i>
        </span>
        <span class="sidebar_label">
            <small>Operations</small>
        </span>
    </p>
    <p class="sidebar-item">
        <span>
            <i class="fas sidebar-icon"></i>
        </span>
        <span class="sub_sidebar_label">
            <small>Assignments</small>
        </span>
    </p>
    <p class="sidebar-item">
        <span>
            <i class="fas sidebar-icon"></i>
        </span>
        <span class="sub_sidebar_label">
            <small>Team schedule</small>
        </span>
    </p>
    <p class="sidebar-item">
        <span>
            <i class="fas sidebar-icon"></i>
        </span>
        <span class="sub_sidebar_label">
            <small>Documents</small>
        </span>
    </p>
</div>
