<nav id="main-nav" class="navbar navbar-expand">
    <ul class="navbar-nav">
        <li class="nav-item">

            <input id="navbarSearch" type="text"
                class="form-control main-nav-search btn-shadow"
                placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">

        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <button class="btn btn-light btn-shadow"
                id="navbarDropdownFeedback" role="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-bullhorn"></i>
                Feedback about this page?
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-shadow"
                aria-labelledby="navbarDropdownFeedback">
                <p class="dropdown-item">Alexander Kleinhans</p>
                <p class="dropdown-item"><small>Administrator</small></p>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Sign out</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <button class="btn btn-clear btn-icon btn-flat"
                id="navbarDropdownBell" role="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-bell"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-shadow"
                aria-labelledby="navbarDropdownBell">
                <p class="dropdown-item">Alexander Kleinhans</p>
                <p class="dropdown-item"><small>Administrator</small></p>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Sign out</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <button class="btn btn-clear btn-icon btn-flat"
                id="navbarDropdownHelp" role="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-question-circle"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-shadow"
                aria-labelledby="navbarDropdownHelp">
                <p class="dropdown-item">Alexander Kleinhans</p>
                <p class="dropdown-item"><small>Administrator</small></p>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Sign out</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <button class="btn btn-light btn-round btn-icon btn-shadow"
                id="navbarDropdownAccount" role="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="material-icons">person</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-shadow"
                aria-labelledby="navbarDropdownAccount">
                <p class="dropdown-item">Alexander Kleinhans</p>
                <p class="dropdown-item"><small>Administrator</small></p>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Sign out</a>
            </div>
        </li>
    </ul>
</nav>
