<div class="dashboard_card card mb-4 chart_card">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">{{ chart_name }}</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <!-- Email Newsletters -->
                    <div class="row">
                        <div class="col-md-3">
                            <label>Email Newsletters</label>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control-sm form-control" type="text">
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- Email Newsletters -->
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fas fa-fw fa-chevron-down"></i>
                            <label>Email Newsletters</label>
                        </div>
                        <div class="col-md-9">
                            {% include "components/examples/search_add_new.html" %}
                            {% include "components/examples/selected_list_group.html" %}
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- Text Blasts -->
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fas fa-fw fa-chevron-down"></i>
                            <label>Text-Blasts</label>
                        </div>
                        <div class="col-md-9">
                            {% include "components/examples/search_add_new.html" %}
                            {% include "components/examples/selected_list_group.html" %}
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- Blogs -->
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fas fa-fw fa-chevron-down"></i>
                            <label>Blogs</label>
                        </div>
                        <div class="col-md-9">
                            {% include "components/examples/search_add_new.html" %}
                            {% include "components/examples/selected_list_group.html" %}
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- Facebook Posts-->
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fas fa-fw fa-chevron-down"></i>
                            <label>Facebook Posts</label>
                        </div>
                        <div class="col-md-9">
                            {% include "components/examples/search_add_new.html" %}
                            {% include "components/examples/selected_list_group.html" %}
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- Instagram Posts-->
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fas fa-fw fa-chevron-down"></i>
                            <label>Instagram Posts</label>
                        </div>
                        <div class="col-md-9">
                            {% include "components/examples/search_add_new.html" %}
                            {% include "components/examples/selected_list_group.html" %}
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer">
something
    </div>
</div>
