{% extends "layout.html" %}

{% block main %}

<div class="row">
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Support Contacts</strong>
            </div>
            <div class="tile_row tile_row_content tile_content">
                <p>Customer Interactions</p>
                <h2>14,000</h2>
                <p>Customer Communications</p>
                <h5>371</h5>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Net Promoter Scroe</strong>
            </div>
            <div class="tile_row tile_row_content tile_alert">
                <p>Failed to load.</p>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Outreach Response</strong>
            </div>
            <div class="tile_row tile_row_content tile_alert">
                <p>Failed to load.</p>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>New Followers</strong>
            </div>
            <div class="tile_row tile_row_content tile_content">
                <div class="social_stats_wrapper">
                    <p>
                        <h2 style="display: inline;">
                            <i class="fab fa-twitter"></i>
                        </h2>
                        test
                    </p>
                    <p>
                        <h2 style="display: inline;">
                            <i class="fab fa-facebook"></i>
                        </h2>
                        test
                    </p>
                    <p>
                        <h2 style="display: inline;">
                            <i class="fab fa-instagram"></i>
                        </h2>
                        test
                    </p>
                </div>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Latest Posts</strong>
            </div>
            <div class="tile_row tile_row_content tile_content">
                <div class="social_stats_wrapper">
                    <p>
                        <h2 style="display: inline;">
                            <i class="fab fa-twitter"></i>
                        </h2>
                        test
                    </p>
                    <p>
                        <h2 style="display: inline;">
                            <i class="fab fa-facebook"></i>
                        </h2>
                        test
                    </p>
                    <p>
                        <h2 style="display: inline;">
                            <i class="fab fa-instagram"></i>
                        </h2>
                        test
                    </p>
                </div>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Activity</strong>
            </div>
            <div class="tile_row tile_row_content tile_alert">
                <p>Failed to load.</p>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Sales</strong>
            </div>
            <div class="tile_row tile_row_content tile_content">
                <h1 class="info_blue">$150,000</h1>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Trends</strong>
            </div>
            <div class="tile_row tile_row_content tile_content">
                <ol>
                    <li><span class="info_blue">#phishlives</span></li>
                    <li>promo <span class="info_blue">Westword37</span></li>
                    <li>brand <span class="info_blue">Forbidden Fruit</span></li>
                    <li>category <span class="info_blue">Contrates</span></li>
                    <li><span class="info_blue">#TrumpWreck</span></li>
                    <li>strain <span class="info_blue">Ivanka Stank</span></li>
                </ol>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Transactions</strong>
            </div>
            <div class="tile_row tile_row_content tile_content">
                <ul>
                    <li>4:29 PM <a href="#">3 Items</a><span class="info_green"> $375.75</span></li>
                    <li>4:23 PM <a href="#">1 Item</a><span class="info_green"> $21.95</span></li>
                    <li>...</li>
                    <li>3:21 PM <a href="#">12 Items</a><span class="info_green"> $422.75</span></li>
                    <li>3:17 PM <a href="#">4 Items</a><span class="info_green"> $80.00</span></li>
                    <li>3:04 PM <a href="#">6 Items</a><span class="info_green"> $130.00</span></li>
                </ol>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Featured</strong>
            </div>
            <div class="tile_row tile_row_content tile_content">
                <p>Failed to load.</p>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Menu</strong>
            </div>
            <div class="tile_row tile_row_content tile_alert">
                <p>Failed to load.</p>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Promotions</strong>
            </div>
            <div class="tile_row tile_row_content tile_alert">
                <p>Failed to load.</p>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Something</strong>
            </div>
            <div class="tile_row tile_row_content tile_alert">
                <p>Failed to load.</p>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Something</strong>
            </div>
            <div class="tile_row tile_row_content tile_alert">
                <p>Failed to load.</p>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Something</strong>
            </div>
            <div class="tile_row tile_row_content tile_alert">
                <p>Failed to load.</p>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Something</strong>
            </div>
            <div class="tile_row tile_row_content tile_alert">
                <p>Failed to load.</p>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Something</strong>
            </div>
            <div class="tile_row tile_row_content tile_alert">
                <p>Failed to load.</p>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card panel_card">
            <div class="tile_row">
                <strong>Something</strong>
            </div>
            <div class="tile_row tile_row_content tile_alert">
                <p>Failed to load.</p>
            </div>
            <div class="tile_row">
                <div class="text-center tile-footer-intervals">
                    <a href="#" class="selector-inactive">&nbsp1d&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1w&nbsp</a>
                    <a href="#" class="selector-active">&nbsp1m&nbsp</a>
                    <a href="#" class="selector-inactive">&nbsp1y&nbsp</a>
                </div>
                <i class="fas fa-search-plus small-icon"></i>
                <i class="fas fa-ellipsis-h small-icon float-right"></i>
            </div>
        </div>
    </div>
</div>

{% endblock %}
