{% extends "layout.html" %}

{% block page_level_css %}
{% endblock %}

{% block page_level_js %}
{% endblock %}

{% block page_content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800">SEO</h1>
</div>
<div class="row dashboard_row">
    <div class="col-md-3">
        {% with theme="website" %}
        {% include "components/kpi_card.html" %}
        {% endwith %}
    </div>
    <div class="col-md-3">
        {% with theme="website" %}
        {% include "components/kpi_card.html" %}
        {% endwith %}
    </div>
    <div class="col-md-3">
        {% with theme="website" %}
        {% include "components/kpi_card.html" %}
        {% endwith %}
    </div>
    <div class="col-md-3">
        {% with theme="website" %}
        {% include "components/kpi_card.html" %}
        {% endwith %}
    </div>
</div>
<div class="row dashboard_row">
    <div class="col-md-12">
        <ul class="dashboard_card main_tab nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab-one" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-two" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-three" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="false">Contact</a>
            </li>
        </ul>
        <br>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="tab-one">
                <div class="row">
                    <div class="col-md-6">
                        {% with chart_name="Orders" %}
                        {% include "components/examples/line_chart.html" %}
                        {% endwith %}
                    </div>
                    <div class="col-md-6">
                        {% with chart_name="Sales" %}
                        {% include "components/examples/line_chart.html" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="tab-two">
                <div class="dashboard_card card mb-4">
                    <div class="card-body">
                        {% with table_name="orders" %}
                        {% include "components/examples/table.html" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="tab-three">
                <div class="dashboard_card card mb-4">
                    <div class="card-body">
                        {% with table_name="sales" %}
                        {% include "components/examples/table.html" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
