<style>
/*------------------------------------------------------------------------------
Nav styles.
------------------------------------------------------------------------------*/
.col-3,.col-4,.col-4,.col-6,.col-9,.col-12 {
    padding: 0px;
 }
.main_card {
    padding: 5px;
    margin: 5px;
}
/*------------------------------------------------------------------------------
Nav styles.
------------------------------------------------------------------------------*/
nav#main-nav {
    padding: 0px;
    padding-right: 10px;
}
.fas {
    font-size: 21px;
    color: #8792a2;
}
.btn-round i.material-icons {
    color: #8792a2;
}
.btn-round {
    border-radius: 20px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding: 0px;
}
.btn-shadow {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(60,66,87, .12), 0 1px 1px 0 rgba(0,0,0, .12);
}
.btn-flat i:hover {
    color: black; 
}
.btn-clear {
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
}
nav .ml-auto .nav-item {
    margin-left: 15px;
}
.dropdown-shadow {
    box-shadow: 0 0 0 1px rgba(136, 152, 170, .1), 0 15px 35px 0 rgba(49, 49, 93, .1), 0 5px 15px 0 rgba(0, 0, 0, .08);
    border: none;
}
button#navbarDropdownFeedback {
    font-size: 13px;
    color: grey;
}
button#navbarDropdownFeedback i {
    font-size: 13px;
}
input#navbarSearch {
    height: 30px;
    font-size: 13px;
}
nav * {
    font-weight: 200;
}
.nav-row {
    padding-right: 5px;
}
.nav-bold-link {
    font-weight: 500 !important;
}
.nav-bold-link:hover {
    color: #4f566b !important;
}
/*------------------------------------------------------------------------------
All font-family should be Raleway.
------------------------------------------------------------------------------*/
* {
    font-family: 'Raleway', sans-serif;
}
body {
    background: #e3e8ee;
}
div#layout_left {
    padding-top: 20px;
    padding-left: 50px;
    height: 100vh;
}
div#layout_right {
    padding-top: 20px;
    height: 100vh;
    padding-left: 0px;
    padding-right: 40px;
}
div#layout_wrapper {
    min-width: 1100px;
}
/*------------------------------------------------------------------------------
Make the sidebar labels right of the icons.
------------------------------------------------------------------------------*/
span.sidebar_label_main {
    margin-left: 5px;
}
span.sidebar_label {
    margin-left: 9px;
}
.sidebar-icon {
    margin-left: 5px;
}
p.sidebar-item {
    margin-bottom: 5px;
}
a.sidebar-item:hover {
    text-decoration: none;
    color: #556CD6 !important;
}
a.sidebar-item {
    color: black !important;
}
/* Sub-sidebar */
span.sub_sidebar_label {
    margin-left: 22px;
}
/*------------------------------------------------------------------------------
Panels
------------------------------------------------------------------------------*/
.panel_card {
    margin-right: 10px;
    margin-right: 10x;
    margin-top: 10px;
    box-shadow: 0 7px 14px 0 rgba(60,66,87, .12), 0 3px 6px 0 rgba(0,0,0, .12);
}
/*------------------------------------------------------------------------------
Color settings
------------------------------------------------------------------------------*/
a.nav-bold-link {
    color: #556CD6 !important;
}
a.nav-bold-link * {
    color: #556CD6 !important;
}
/*------------------------------------------------------------------------------
Icon helpers
------------------------------------------------------------------------------*/
.small-icon {
    font-size: 13px;
}
a .small-icon {
    font-size: 13px;
}
/*------------------------------------------------------------------------------
Tile Rows
------------------------------------------------------------------------------*/
.tile_row {
    padding: 15px;
}
.tile-footer-intervals {
    margin-bottom: -17px;
}
.tile_row_content {
    min-height: 150px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.tile_error p {
    margin: 0px;
    text-align: center;
}
.tile_error {
    font-weight: 300;
    font-size: 13px;
}
/* Tile alerts */
.tile_alert {
    background: #f7fafc;
    box-shadow: inset 0 1px #e6ebf1, inset 0 -1px #e6ebf1;
}
.tile_alert {
    text-align: center;
    color: #bbcadc;
}
.tile_alert p {
    padding-top: 35px;
}
/* Tile indicators */
.selector-inactive {
    color: #b5b5b5;
}
.selector-active {
    color: #2196F3;
}
.tile-footer-intervals a {
    font-size: 13px;
}
/* Tile content */
.tile_row p {
    margin-bottom: 0px;
}
.tile_content {
    text-align: left;
}
.tile_content h1 {
    color: #556cd6;
}
.tile_content h2{
    color: #556cd6;
}
.tile_content p {
    color: #697386;
}
.tile_content h5 {
    color: #556cd6;
}
.info_blue {
    color: #556cd6;
}
/*------------------------------------------------------------------------------
Sales Info
------------------------------------------------------------------------------*/
ul {
    list-style: none;
}
span.info_green {
    color: #4CAF50;
}
</style>
