{% extends "components/dashboard_card.html" %}
{% block card_body %}
{% include "components/examples/chart_util.html" %}
<script>
$(document).ready(function() {
    var ctx = document.getElementById('{{ chart_name }}').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
});
</script>
<div class="chart-area">
    <canvas id="{{ chart_name }}"></canvas>
</div>
{% endblock %}

{% block card_header %}
    {{ chart_name }}
{% endblock %}

{% block card_footer%}
    something
{% endblock %}
