<div class="row">
    <div class="col-md-6">
        <div class="input-group search_box">
            <div class="input-group-prepend">
                <button class="btn-sm btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
            <input type="text" 
                class="form-control-sm form-control bg-light border-0 small" 
                placeholder="Search [thing]..." aria-label="Search" aria-describedby="basic-addon2">
        </div>
    </div>
    <div class="col-md-6 text-right">
        <button type="button" class="btn-sm btn btn-primary add_new">
            <i class="fas fa-fw fa-plus-square"></i>
            Create new [thing]
        </button>
    </div>
</div>
<br>
