<ul class="list-group dashboard_card">
    <li class="list-group-item">
            <i class="fas fa-fw fa-chevron-right"></i>
            Med Card Members 
    </li>
    <li class="list-group-item active">
            <i class="fas fa-fw fa-chevron-down"></i>
            Forbidden Fruit Product Release
    </li>
    <li class="list-group-item">
            <i class="fas fa-fw fa-chevron-right"></i>
            Med Card Members 
    </li>
    <li class="list-group-item">
            <i class="fas fa-fw fa-chevron-right"></i>
            Brand-New Products
    </li>
</ul>
