<style>
/* Timeline */
.timeline .row.h-50 .col:nth-child(2) {
    box-shadow: -1px 0px 0px #0000001c;
}
/* Charts */
.chart-area {
    height: 300px;
}
/* Nav */
a.nav-link {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.sidebar-heading {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Re-Color */
ul#accordionSidebar {
    background: #e3e8ee;
}
.nav-item a.nav-link {
    color: #4b5458 !important;
}
.nav-link i.fas {
    color: #979fa2 !important;
}
.nav-link i.fab {
    color: #979fa2 !important;
}
.sidebar-heading {
    color: #9cabb3 !important;
}
.sidebar-heading {
    color: #9cabb3 !important;
}
.justify-content-center {
    background: white;
    margin-bottom: 25px;
}
.justify-content-center * {
    color: #4d73df;
}
.sidebar-heading {
    color: #9cabb3 !important;
}
.justify-content-center * {
    color: #4d73df;
}
div#content-wrapper {
    background: #e3e7ee !important;
}
footer.bg-white {
    background: #e3e7ee !important;
}
.justify-content-center {
    background: #e3e7ee !important;
    margin-bottom: 25px;
}
.navbar {
    background: #e3e7ee !important;
    box-shadow: none !important;
}
.navbar input.small {
    box-shadow: 0 2px 5px 0 rgba(60,66,87, .12), 0 1px 1px 0 rgba(0,0,0, .12) !important;
}
.navbar button.btn.btn-primary {
    box-shadow: 0 2px 5px 0 rgba(60,66,87, .12), 0 1px 1px 0 rgba(0,0,0, .12) !important;
}
.navbar button.btn.btn-primary {
    height: 34px;
}
.navbar a.nav-link {
    padding: 3px !important;
    height: 37px !important;
    width: 38px !important;
}
.navbar-search {
    margin-right: 50px !important;
}
span.mr-2.d-none.d-lg-inline.text-gray-600.small {
    display: none !important;
}
/* KPI Cards */
.kpi_card {
    padding: 9px;
}
.kpi_card_row {
    margin-bottom: 9px;
}
/* KPI subtext */
.kpi_subtext p {
    line-height: 0px;
}
.kpi_subtext {
    background: red;
    height: 0px;
    margin-bottom: -15px;
}
.kpi_card.card-body {
    height: 91px;
}
.kpi_subtext_center {
    margin-bottom: -16px;
    margin-top: 16px;
}
.kpi_subtext_left {
    margin-bottom: -16px;
}
/* Users
YELOW */
.user.card {
   border-left: .25rem solid #FFCA3A !important; 
}
.user.kpi_title {
    color: #FFCA3A !important;
}
.user.bg-info {
    background-color: #FFCA3A !important;
}
.coluse {

}
.colloy {

}
.colsub {

}
/* Storefront
GREEN */
.storefront.card {
   border-left: .25rem solid #8AC926 !important; 
}
.storefront.kpi_title {
    color: #8AC926 !important;
}
.storefront.bg-info {
    background-color: #8AC926 !important;
}
.colsto {

}
.colpro {

}
.colcat {

}
.colinv {

}
.colord {

}
/* Website
PURPLE */
.website.card {
   border-left: .25rem solid #6A4C93 !important; 
}
.website.kpi_title {
    color: #6A4C93 !important;
}
.website.bg-info {
    background-color: #6A4C93 !important;
}
.colweb{

}
.colpag {

}
.colblo {

}
.colseo {

}
/* Marketing
RED */
.marketing.card {
   border-left: .25rem solid #FF595E !important; 
}
.marketing.kpi_title {
    color: #FF595E !important;
}
.marketing.bg-info {
    background-color: #FF595E !important;
}
.colmar {

}
.colema {

}
.colsms {

}
/* Social
BLUE */
.social.card {
   border-left: .25rem solid #1982C4 !important; 
}
.social.kpi_title {
    color: #1982C4 !important;
}
.social.bg-info {
    background-color: #1982C4 !important;
}
.colsoc{

}
.colfac {

}
.colins {

}
.colyel {

}
/* Compliance */
.compliance.card {
   border-left: .25rem solid #37CC5F !important; 
}
.compliance.kpi_title {
    color: #37CC5F !important;
}
.compliance.bg-info {
    background-color: #37CC5F !important;
}
.colcom {
    color: "#37cc5f";
}
.colmet {

}
/* Dashbaord Row */
.dashboard_row {
    /* margin-bottom: 25px; */
}
/* Nav margin */
a.nav-link {
    padding-left: 33px !important;
}
/* Data Tables */
td {
    padding: 5px !important;
}
.dataTables_paginate .paginate_button a {
}
.dataTables_paginate .paginate_button.active a     {
    background: #4F5158;
    border: 1px solid #4F5158;
}
tr.odd-row {
    background: #f3f7fd;
}
/* Dashboard Cards */
.dashboard_card {
    box-shadow: 0 7px 14px 0 rgba(60,66,87, .12), 0 3px 6px 0 rgba(0,0,0, .12) !important;
    border: none;
}
/* Nav Search */
.navbar .navbar-search button.btn.btn-primary {
    background: white;
    border: none;
    color: #565c61;
}
/* Nav Tab Pills */
a.nav-link.active {
    color: white !important;
}
ul.main_tab.nav-pills {
    background: #f8f9fc;
    border-radius: 5px;
    overflow: hidden;
}
.main_tab li.nav-item {
    box-shadow: 1px 0px #e0e0e0;
}
.main_tab.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: white;
    color: #4e73df !important;
    border-bottom: 3px solid #4e73df;
    border-radius: 0px !important;
}
.main_tab.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.main_tab a.nav-link {
    padding-top: 13px !important;
    padding-bottom: 10px !important;
}
/* Sidebar Brand */
.sidebar-brand * {
 color: #4b5458
}
.sidebar-brand-text {
    text-transform: lowercase;
    color: #8BC34A;
    font-size: 29px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    text-shadow: 0px 0px 7px #ffffff7a, 0px 0px 9px #ffffffa3, 0px 0px 21px #ffffffa3;
    margin-left: -15px !important;
    font-weight: 500;
}
div#logo {
    background: #8BC34A;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 19px;
    text-transform: lowercase;
    font-weight: 400;
    padding-top: 11px;
    margin-right: 10px;
    margin-left: 21px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(60,66,87, .12), 0 1px 1px 0 rgba(0,0,0, .12) !important;
}
/* Icons */
i.fab.blue_icon,
i.fas.blue_icon {
    color: #4e73df !important;
}
/* Search Box */
.search_box {
    box-shadow: 0 2px 5px 0 rgba(60,66,87, .12), 0 1px 1px 0 rgba(0,0,0, .12) !important;
    border-radius: 5px;
    margin-top: 10px;
}
.search_box button {
    background: #f3f7fd;
    border: none;
    color: #607D8B;
    box-shadow: 0 2px 5px 0 rgba(60,66,87, .12), 0 1px 1px 0 rgba(0,0,0, .12) !important
}
/* Add New */
.add_new {
    box-shadow: 0 2px 5px 0 rgba(60,66,87, .12), 0 1px 1px 0 rgba(0,0,0, .12) !important;
    border-radius: 5px;
    margin-top: 10px;
}
/* List Groups */
.list-group {
    box-shadow: 0 2px 5px 0 rgba(60,66,87, .12), 0 1px 1px 0 rgba(0,0,0, .12) !important;
    border-radius: 5px;
}
.list-group li {
    border: none;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
li.list-group-item.active {
    background: #f3f7fd;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    color: black;
}
li.list-group-item {
    background: white;
    color: #4e73df;
}
</style>
<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon">
        <div id="logo">&#60;h&#47;&#62;</div>
    </div>
    <div class="sidebar-brand-text mx-3">highbrid.io</div>
</a>

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="/">
        <i class="fas fa-fw fa-home"></i>
        <span>Home</span></a>
</li>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/view-site">
        <i class="fas fa-fw fa-globe"></i>
        <span>View Site</span>
    </a>
</li>

<!-- Heading -->
<a href="/users">
    <div class="sidebar-heading">
    Users
    </div>
</a>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/loyalty_members">
        <i class="fas fa-fw fa-user-tag"></i>
        <span>Loyalty Members</span>
    </a>
</li>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/subscribers">
        <i class="fas fa-fw fa-user-check"></i>
        <span>Subscribers</span>
    </a>
</li>

<!-- Heading -->
<a href="/storefront">
    <div class="sidebar-heading">
    Storefront
    </div>
</a>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/promotions">
        <i class="fas fa-fw fa-ad"></i>
        <span>Promotions</span>
    </a>
</li>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/catalog">
        <i class="fas fa-fw fa-shopping-cart"></i>
        <span>Catalog</span>
    </a>
</li>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/inventory">
        <i class="fas fa-fw fa-dolly-flatbed"></i>
        <span>Inventory</span>
    </a>
</li>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/orders_and_sales">
        <i class="fas fa-fw fa-file-invoice-dollar"></i>
        <span>Orders & Sales</span>
    </a>
</li>

<!-- Heading -->
<a href="/website">
    <div class="sidebar-heading">
    Website
    </div>
</a>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/pages">
        <i class="fas fa-fw fa-sitemap"></i>
        <span>Pages</span>
    </a>
</li>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/seo">
        <i class="fab fa-fw fa-searchengin"></i>
        <span>SEO</span>
    </a>
</li>

<!-- Heading -->
<a href="/marketing">
    <div class="sidebar-heading">
    Marketing
    </div>
</a>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/email">
        <i class="fas fa-fw fa-mail-bulk"></i>
        <span>Newsletters</small></span>
    </a>
</li>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/text">
        <i class="fas fa-fw fa-comment-dots"></i>
        <span>Text-Blasts</span>
    </a>
</li>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/blog">
        <i class="fas fa-fw fa-quote-right"></i>
        <span>Blog</span>
    </a>
</li>

<!-- Heading -->
<!-- <a href="/social">
    <div class="sidebar-heading">
    Social
    </div>
</a>-->

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/facebook">
        <i class="fab fa-facebook-square"></i>
        <span>Facebook</span>
    </a>
</li>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/instagram">
        <i class="fab fa-instagram"></i>
        <span>Instagram</span>
    </a>
</li>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/yelp">
        <i class="fab fa-yelp"></i>
        <span>Yelp</span>
    </a>
</li>

<!-- Heading -->
<a href="/compliance">
    <div class="sidebar-heading">
    Compliance
    </div>
</a>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/metrc">
        <i class="fas fa-fw fa-cannabis"></i>
        <span>Metrc</span>
    </a>
</li>

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
